	<nav>
		<ul>	
			<li class='active'><a href='/'>总览</a></li>
			<li class='divider'></li>
			<li><a href='/serverapi'>服务端 API</a></li>
			<li><a href='/clientapi'>客户端 API</a></li>
			<li class='divider'></li>
			<li><a href='room'>房间和命名空间</a></li>
			<li><a href='migration'>从0.9版本迁移过来</a></li>
			<li><a href='multi'>使用多个结节</a></li>
			<li><a href='debugging'>登录和调试</a></li>
		</ul>
	</nav>
	<section id='content'>
		 	<h2 class='grey title-2'>怎样使用</h2>
		 	<h3 class='title-3'>安装</h3>
		 	<pre>
				<code>$ npm install socket.io</code>
		 	</pre>
		 	<h2 class='title-2'>在Node http server中使用</h2>
			<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var app = require('http').createServer(handler)
var io = require('socket.io')(app);
var fs = require('fs');

app.listen(80);

function handler (req, res) {
  fs.readFile(__dirname + '/index.html',
  function (err, data) {
    if (err) {
      res.writeHead(500);
      return res.end('Error loading index.html');
    }

    res.writeHead(200);
    res.end(data);
  });
}

io.on('connection', function (socket) {
  socket.emit('news', { hello: 'world' });
  socket.on('my other event', function (data) {
    console.log(data);
  });
});</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script src="/socket.io/socket.io.js"&gt;&lt;/script&gt;
&lt;script&gt;
  var socket = io('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>
<h2 class='title-2'>在Express 3/4中使用</h2>
			<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var app = require('express')();
var server = require('http').Server(app);
var io = require('socket.io')(server);

server.listen(80);

app.get('/', function (req, res) {
  res.sendfile(__dirname + '/index.html');
});

io.on('connection', function (socket) {
  socket.emit('news', { hello: 'world' });
  socket.on('my other event', function (data) {
    console.log(data);
  });
});</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script src="/socket.io/socket.io.js"&gt;&lt;/script&gt;
&lt;script&gt;
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>


<h2 class='title-2'>在Express框架中使用</h2>
			<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var app = require('express').createServer();
var io = require('socket.io')(app);

app.listen(80);

app.get('/', function (req, res) {
  res.sendfile(__dirname + '/index.html');
});

io.on('connection', function (socket) {
  socket.emit('news', { hello: 'world' });
  socket.on('my other event', function (data) {
    console.log(data);
  });
});</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script src="/socket.io/socket.io.js"&gt;&lt;/script&gt;
&lt;script&gt;
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>


<h2 class='title-2'>发送和接收事件</h2>
<p>Sockrt.io允许你发送和接收自定义事件。除了<span class='partial-code'>connect</span>,<span class='partial-code'>message</span>和<span class='partial-code'>disconnect</span>以外，你还可以发送自定义事件。</p>
<h3 class='grey'>服务器端</h3>
<pre>
	<code>// 注意： io.listen(&amp;lt;port&amp;gt;) 将会为你创建一个服务器
var io = require('socket.io')(80);

io.on('connection', function (socket) {
  io.emit('this', { will: 'be received by everyone'});

  socket.on('private message', function (from, msg) {
    console.log('I received a private message by ', from, ' saying ', msg);
  });

  socket.on('disconnect', function () {
    io.sockets.emit('user disconnected');
  });
});</code>
<div class='clear'></div>
</pre>
<h2 class='title-2'>将你限制到一个命名空间</h2>
<p>如果你想要掌控来自一个特定应用的所有消息和事件，那么使用默认的 / 命名空间即可。如果你想要使用第三方的代码，或者编写能够和别人分享的代码，socket.io提供了一种方式来将一个socket放入命名空间中。</p>
<p>这将会在单个连接中带来<span class='partial-code'>multiplexing(多路技术)</span>的好处。你不需要用socket.io开启两个<span class='partial-code'>WebSocket</span>连接，只需要使用一个即可。</p>


			<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var io = require('socket.io').listen(80);
var chat = io
  .of('/chat')
  .on('connection', function (socket) {
    socket.emit('a message', {
        that: 'only'
      , '/chat': 'will get'
    });
    chat.emit('a message', {
        everyone: 'in'
      , '/chat': 'will get'
    });
  });

var news = io
  .of('/news')
  .on('connection', function (socket) {
    socket.emit('item', { news: 'item' });
  });</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script&gt;
  var chat = io.connect('http://localhost/chat')
    , news = io.connect('http://localhost/news');
  
  chat.on('connect', function () {
    chat.emit('hi!');
  });
  
  news.on('news', function () {
    news.emit('woot');
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>


<h2 class='title-2'>发送不稳定信息</h2>
<p>有时某些特定信息可能会发生失败。假设你现在有一个应用，它会实时显示推特上关于<span class='partial-code'>贾斯汀比伯</span>的推文。</p>
<p>如果有某个客户端没有准备好接收信息（因为网速太慢或者其他原因，或者因为他通过长轮询来进行连接并正好位于请求相应循环的中间），如果他没有接收到所有关于比伯的推文你的应用也不会受影响。</p>
<p>在这种情况下，你可能想要将这些信息作为不稳定信息来发送。</p>

<h3 class='title-3 grey'>服务器端</h3>
<pre>
	<code>var io = require('socket.io').listen(80);

io.sockets.on('connection', function (socket) {
  var tweets = setInterval(function () {
    getBieberTweet(function (tweet) {
      socket.volatile.emit('bieber tweet', tweet);
    });
  }, 100);

  socket.on('disconnect', function () {
    clearInterval(tweets);
  });
});
	</code>
	<div class='clear'></div>
</pre>


<h2 class='title-2'>发送和接收数据(并确认)</h2>
<p>有时，你可能在客户端确认接收到信息时获得一个反馈。</p>
<p>为了做这件事，你只需要将一个函数作为<span class='partial-code'>.send</span>或者<span class='partial-code'>.emit</span>方法的最后一个参数传递。另外，当你使用<span class='partial-code'>.emit</span>时，你需要自己进行确认，这意味着你还需要传递数据：</p>  

<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var io = require('socket.io').listen(80);

io.sockets.on('connection', function (socket) {
  socket.on('ferret', function (name, fn) {
    fn('woot');
  });
});</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script&gt;
  var socket = io(); // TIP: io() with no args does auto-discovery
  socket.on('connect', function () { // TIP: you can avoid listening on `connect` and listen on events directly too!
    socket.emit('ferret', 'tobi', function (data) {
      console.log(data); // data will be 'woot'
    });
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>

<h2 class='title-2'>广播消息</h2>
<p>为了广播消息，你只需要简单地在<span class='partial-code'>emit</span>和<span class='partial-code'>send</span>方法之前加上<span class='partial-code'>broadcast</span>标示符。广播意味着给所有人除了自己发送一条消息。</p>

<h3 class='title-3 grey'>服务器端</h3>
<pre>
<code>var io = require('socket.io').listen(80);

io.sockets.on('connection', function (socket) {
  socket.broadcast.emit('user connected');
});</code>
<div class='clear'></div>
</pre>

<h2 class='title-2'>将Socket.io仅仅作为一个跨浏览器的Websocket</h2>
<p>如果你只是想要WebSocket的预提，你也可以这样做。简单的使用<span class='partial-code'>send</span>方法监听<span class='partial-code'>message</span>事件即可：</p>  



<div class='half-first'>
				<h3 class='grey title-3'>服务器端(app.js)</h3>
				<pre>
					<code>var io = require('socket.io').listen(80);

io.sockets.on('connection', function (socket) {
  socket.on('message', function () { });
  socket.on('disconnect', function () { });
});</code>
					<div class='clear'></div>
				</pre>
			</div>
			<div class='half-last'>
				<h3 class='grey'>客户端(index.html)</h3>
				<pre>
				<code>&lt;script&gt;
  var socket = io('http://localhost/');
  socket.on('connect', function () {
    socket.send('hi');

    socket.on('message', function (msg) {
      // 我的消息
    });
  });
&lt;/script&gt;</code>
<div class='clear'></div>
</pre>
</div>
<div class='clear'></div>

<p>如果你并不关心重连接逻辑以及其他，你可以看看<a class='link'>Engine.IO</a>，它是Socket.
	IO使用的一个WebSocket语义传输层。</p>
</section>